/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; }
body { margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  color: #fffffa;
  background-color: #0D1117;
  a{
    color: #fffffa;
  }
  li {
    list-style-type: none;
   }
   ul {
    margin-left: 0;
    padding-left: 0;
   }
}
textarea{
  resize: none;
}

.custom-container{
  min-height: 100vh;
  padding: 0;
  margin: 20px 50px;
}


.white_line{
  height: 1px;
  background-color: #fffffa;
  margin-bottom: 50px;
}

.registration {
  margin: 40px 200px;
  border-radius: 15px;
  background-color: #343A40;
  padding: 100px 200px;

  .register-errors{
    padding: 5px;
    background-color: #E71D36;
    border-radius: 10px;
  }

  div {
    margin-bottom: 20px;
  }

  input, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px;
    width: 100%;
    background-color: #161B22;
    border: none;
    border-radius: 10px;
    color: #fffffa;
    margin-bottom: 10px;

    &:focus, textarea {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      padding: 12px;
      margin-bottom: 11px;
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }
}
h2{
  margin-bottom: 40px;

}

.center-button{
  text-align: center;
  button{
    width: 45%;
  }
}


.login-register{
  margin-top: 20px;
  font-size: 14px;
}
