<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <div class="side-bar">
        <div class="menu">
          <div class="img-holder">
            <img [src]="avatar" alt="Avatar" class="avatar">
          </div>
          <h3>{{userProfile.username}}</h3>
          <p style="text-align: center; color: lightslategrey">{{userProfile.email}}</p>
          <div class="white_line"></div>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="padding: 0;">
      <div class="posts-list">
        <h3>Posts</h3>
        <div class="white_line"></div>
        <div *ngIf="user.isLogIn() && user.getUser().id === userProfile.id">
          <label for="create_title"></label>
          <input id="create_title" placeholder="Title" type="text" [(ngModel)]="singlePost.title">
          <br>
          <label for="create_text"></label>
          <textarea style="resize: none;" placeholder="Type in text" id="create_text"  name="text" [(ngModel)]="singlePost.text"></textarea>
          <br>
          <div>
            <input class="btn btn-outline-success" type="submit" (click)="createPost()" value="Create Post">
          </div>
        </div>

        <div style="margin-top: 50px">
          <div *ngIf="posts.length !== 0; else no_posts">
            <div *ngFor="let post of posts">
              <app-post [post]="post"></app-post>
              <hr>
            </div>
          </div>
          <ng-template #no_posts>
            <p>{{userProfile.username}} have no posts</p>
          </ng-template>
        </div>


      </div>
    </div>
  </div>
</div>