





.side-bar{
  padding: 50px;

  width: 100%;
  min-height: max(700px, 100%);
  background-color: #161B22;
  border-radius: 10px;

  .img-holder{
    text-align: center;
    margin-bottom: 30px;
  }

  .avatar{
    border-radius: 50%;
    height: 130px;
  }

  a{
    color: #fffffa;
  }

  ul{
    li{
      padding-bottom: 10px;
    }
  }

  h3{
    text-align: center;

  }

  .menu{
    position: relative;
  }
}




.posts-list{
  padding: 50px;
  width: 100%;
  min-height: max(700px, 100%);
  background-color: #161B22;
  border-radius: 10px;


  input[type='text'], textarea{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px;
    width: 90%;
    background-color: #343A40;
    border: none;
    border-radius: 10px;
    color: #fffffa;
    margin-bottom: 10px;

    &:focus, textarea {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      padding: 12px;
      margin: 5px 1px 10px 0;
      border: 1px solid rgba(81, 203, 238, 1);
   }

  }

  textarea{
    min-height: 200px;
  }


  .alert-danger{
    width: 90%;
    color: #E71D36;
    border: 2px solid #E71D36;
    border-radius: 10px;
  }
}
