<app-header></app-header>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <div class="side-bar">
        <div class="menu">
          <div class="img-holder">
            <img [src]="avatar" alt="Avatar" class="avatar">
          </div>
          <h3>@tsymbaliuk</h3>
          <div class="white_line"></div>
          <ul>
            <li><a href="">My posts</a></li>
            <li><a href="">Popular posts</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="padding: 0;">
      <div class="posts-list">
        <h3>My Posts</h3>
        <div class="white_line"></div>
        <label for="create_title"></label>
        <input id="create_title" placeholder="Title" type="text" [(ngModel)]="singlePost.title">
        <br>
        <label for="create_text"></label>
<!--        <div *ngIf="create_error.error.text">-->
<!--          <div class="alert alert-danger" role="alert">-->
<!--            {{create_error.error.text}}-->
<!--          </div>-->
<!--        </div>-->
        <textarea style="resize: none;" placeholder="Type in text" id="create_text"  name="text" [(ngModel)]="singlePost.text"></textarea>
        <br>
        <div>
          <input class="btn btn-outline-success" type="submit" (click)="createPost()" value="Create Post">
        </div>

        <div style="margin-top: 50px">
          <div *ngIf="posts.keys.length === 0; else no_posts">
            <div *ngFor="let post of posts">
              <app-post [post]="post"></app-post>
              <hr>
            </div>
          </div>
          <ng-template #no_posts>
            <p>You have no posts</p>
          </ng-template>
        </div>


      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>