<div class="custom-container">

  <div class="registration" *ngIf="!userService.token">
    <h2>Log in</h2>
    <div class="white_line"></div>
    <div class="">
      <input autocomplete="off" type="email" name="login-email" placeholder="Email" [(ngModel)]="input.email">
      <div *ngIf="errors.email.length !== 0">
          <div class="register-errors">
            <div *ngFor="let err of errors.email">
              {{err}}
            </div>
          </div>
      </div>
    <div class="">
      <input autocomplete="off" type="password" name="login-password" placeholder="Password" [(ngModel)]="input.password">
      <div *ngIf="errors.password.length !== 0">
          <div class="register-errors">
            <div *ngFor="let err of errors.password">
              {{err}}
            </div>
          </div>
      </div>
    </div>
      <div *ngIf="errors.error.length !== 0">
          <div class="register-errors">
            <div *ngFor="let err of errors.error">
              {{err}}
            </div>
          </div>
      </div>
    <div class="center-button">
      <button (click)="toLogIn()" class="btn btn-primary">Log in</button>
        <div class="login-register"><span>or </span><a routerLink="/register" routerLinkActive="active">Register</a></div>
    </div>
  </div>
  </div>
</div>